# ignore all
*

# BUT
!M2F/
!M2F/*.py
!M2F/dependencies/
!M2F/dependencies/*
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
!application/
!application/dataset_curation/
!application/dataset_curation/*.py
!application/dataset_curation/*.sh
!application/model/
!application/model/*.py
!application/model/*.ipynb
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
!.gitignore
!README.MD
!requirements.txt