# ignore all
*

# BUT
!M2F/
!M2F/*.py
!M2F/dependencies/
!M2F/dependencies/*
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
!examples/
!examples/gatnn_model_end2end/
!examples/gatnn_model_end2end/*.py
!examples/gatnn_model_end2end/*.ipynb
!examples/gatnn_model_end2end/dataset_curation/
!examples/gatnn_model_end2end/dataset_curation/*.py
!examples/gatnn_model_end2end/dataset_curation/*.sh
!examples/gatnn_model_end2end/dataset_curation/*.ipynb
!examples/
!examples/*.py
!examples/*.ipynb
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
!.gitignore
!README.MD
!requirements.txt
!M2F_API_reference.pdf
!M2F.pdf